.box{
    height: 100px;
    width: 100px;
    background-color: maroon;
    align-items: center;
    /*
    animation-name: nisha;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;*/
    animation: nisha 3s ease-out infinite normal;
}
h1{
    
}
@keyframes nisha {
    0%{
        font-size: 20px;
        background-color: red;
    }
    50%{
        font-size: 60px;
        background-color: blue;
        border-radius: 50%;
    }
    80%{
        background-color: pink;
        border: radius 40%;
    }
    100%{
        background-color: black;
    }
}