.container{
    width: 50%;
    height: 400px;
    background-color: azure;
    border: 4px solid black;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    /* flex-direvtion:row-reverse
    justify-content: space-between;*/
    justify-content:flex-end;
    flex-wrap: w;
    
}
h1{
    text-align: center;
}
.container div{
    width: 200px;
    height: 300px;
}
#go{
    align-self: center;
}