#conatiner {
    height: 500px;
    width: 50%;
    background-color: black;
    display: grid;
    
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
/*row-gap: 30px;*/
column-gap: 20px;
  
   
    

}

.iteam {
    height: 90px;
    width: 100px;
    border: 2px solid maroon;
    background-color: gold;
    text-align: center;
    
}

#line{
    grid-column-start: 1;
    grid-column-end: 3;

}
#line2{
    grid-row-start: 1;
    grid-row-end: 3;
}