h1{
    font-family: "Croissant One", serif;
        font-weight: 400;
        font-style: normal;
      
}
/* for google fonts search google fonts
another one is  
fontsawsome
for font awsome  we need a fontawsomecdn
*/