#conatiner{height: 500px;
    width: 50%;
    background-color: black;
    display: inline-grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /*justify-items: start;*/
    place-items: center;
   

}
.iteam{
    height: 90px;
    width: 100px;
    border: 2px solid maroon;
    background-color: gold;

}
/*  justify-iteams  use for container(horizontals
justify-self use for single iteam(horizontail)
align-iteams is use for container(vertical
align-self is used for the item (vertical)
place iteam is use for the both horizontal and vertical
 for example 
 also place self is used for only one 
 */
#j{
    align-items: end;
}
span{
    background-color: maroon;
    height: 500px;
    width: 50%;
}