h1{
    background-color: green;
    color: white;
    border: 3px solid black;
}
@media(width:900px){
    h1{
        background-color: red;
        color: black;
    }
    div {
        height: 200px;
        width: 200px;
        background-color: maroon;
        border-radius: 50%;
    }
}
@media(min-width:500px){
    h1{
        background-color: blue;
    }
}
@media (max-width:300px)
{
    h1{
        background-color: pink;
    }
}
@media (min-width:400px)and (max-width:200px){
    h1{
        background-color: purple;
    }
}
@media(orientation:landscape){
    h1{
        background-color: yellow;
        color: green;
        border-radius: 50%;
    }
}