.nisha{
    height: 500px;
    width: 50%;
    background-color: aliceblue;
    
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    border: 3px solid black;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    
    
}
.nisha div{
    height: 100px;
    width: 100px;
    background-color: grey;
   text-align: center;
   border-radius: 10px;
   font-size: 50px;
}

#nav{
    height: 50px;
    width: 900px;
    background-color: palevioletred;
    border-radius: 10px;
    display: flex;
   text-align: center;
   border: 2px solid lightgreen;
   justify-content: flex-start;
   align-content: center;
}
.kali{
    height: 50px;
    width: 80px;
    font-size: 24px;
}